<form class="form-horizontal">
    <div class="control-group">
        <label class="control-label" for="inputSubject">Subject</label>
        <div class="controls">
            <input type="text" id="inputSubject" placeholder="Subject">
        </div>
    </div>

    <div class="control-group">
        <label class="control-label" for="inputLocation">Location</label>
        <div class="controls">
            <input type="text" id="inputLocation" placeholder="Location">
        </div>
    </div>

    <div class="control-group">
        <label class="control-label" for="inputStartDate">Start date</label>
        <div class="controls">
            <input type="text" id="inputStartDate" placeholder="Start date" class="datepicker">
        </div>
    </div>

    <div class="control-group">
        <label class="control-label" for="inputEndDate">End date</label>
        <div class="controls">
            <input type="text" id="inputEndDate" placeholder="End date" class="datepicker">
        </div>
    </div>

    <div class="control-group">
        <label class="control-label" for="inputDescription">Description</label>
        <div class="controls">
            <input type="text" id="inputDescription" placeholder="Description">
        </div>
    </div>

    <div class="control-group">
        <label class="checkbox">
            <input type="checkbox" id="inputImportant"> Important
        </label>
    </div>
</form>