<div><!-- class="hero-unit">-->
    <!--<div id="calendar" ui-calendar="uiConfig.fullCalendar" class="span8 calendar" equals-tracker="equalsTracker" ng-model="eventSources"></div>-->
    <div class="container">
    <div class="row">
        <div id="calendar" class="span9 calendar"></div>
        
        <div class="span3">
            <div ng-repeat="category in eventCategories" class="row">
                <div class="span1">
                    <input type="checkbox" ng-model="eventCategories[$index].Checked" ng-change="renderCalendar()" checked> {{category.CategoryName}}
                </div>
                <div class="span1">
                    <div class="thumb-color-preview table table-bordered" style="background-color:{{category.Color}};"></div>
                </div>
            </div>
            <a href="#newEventModal" role="button" class="btn" data-toggle="modal">New event</a>
        </div>
    </div>
    </div>
</div>

<!--new event modal-->
<div id="newEventModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="newEventModalLabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">New event</h3>
    </div>
    <div class="modal-body">
        <form class="form-horizontal">
            <ng-include src="'views/partials/event_form.html'"></ng-include>
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
        <button class="btn btn-primary" ng-click="addNewEvent()" data-dismiss="modal">Create new event</button>
    </div>
</div>

<!--modify modal -->
<div id="modifyEventModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="modifyEventModalLabel">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">Modify event</h3>
    </div>
    <div class="modal-body">
        <form class="form-horizontal">
            <div class="control-group">
                <label class="control-label" for="inputSubject">ID</label>
                <div class="controls">
                    <input type="text" id="inputID" ng-model="inputID" disabled>
                </div>
            </div>
            <ng-include src="'views/partials/event_form.html'"></ng-include>
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
        <button class="btn" data-dismiss="modal" ng-click="deleteEvent()">Delete event</button>
        <button class="btn btn-primary" ng-click="modifyEvent()" data-dismiss="modal">Modify event</button>
    </div>
</div>

