<div class="row">
    <div class="span6 offset3">
        <div class="well">
            <form class="form-horizontal">
                <legend>Register</legend>
                <div class="control-group">
                    <label for="inputUsername" class="control-label">Username</label>
                    <div class="controls">
                        <input type="text" id="inputUsername" placeholder="Username" ng-model="inputUsername">
                    </div>
                </div>
                <div class="control-group">
                    <label for="inputPassword" class="control-label">Password</label>
                    <div class="controls">
                        <input type="text" id="inputPassword" placeholder="Password" ng-model="inputPassword">
                    </div>
                </div>
                <div class="control-group">
                    <label for="inputFirstName" class="control-label">First name</label>
                    <div class="controls">
                        <input type="text" id="inputFirstName" placeholder="First name" ng-model="inputFirstName">
                    </div>
                </div>
                <div class="control-group">
                    <label for="inputLastName" class="control-label">Last name</label>
                    <div class="controls">
                        <input type="text" id="inputLastName" placeholder="Last name" ng-model="inputLastName">
                    </div>
                </div>
                <div class="row">
                    <div class="offset2 span1"><button class="btn" ng-click="cancel()">Cancel</button></div>
                    <div class="span1"><button class="btn-info btn" type="submit" ng-click="register()">Register</button></div>
                </div>
            </form>
        </div>
    </div>
</div>
