<div class="row">
    <form class="form-horizontal offset3 span4">
        <legend class="offset1">Register</legend>
        <div class="control-group">
            <label for="inputUsername" class="control-label">Username</label>
            <div class="controls"><input type="text" id="inputUsername" placeholder="Username" ng-model="inputUsername"></div>
        </div>
        <div class="control-group">
            <label for="inputPassword" class="control-label">Password</label>
            <div class="controls"><input type="text" id="inputPassword" placeholder="Password" ng-model="inputPassword"></div>
        </div>
        <div class="control-group">
            <label for="inputFirstName" class="control-label">First name</label>
            <div class="controls"><input type="text" id="inputFirstName" placeholder="First name" ng-model="inputFirstName"></div>
        </div>
        <div class="control-group">
            <label for="inputLastName" class="control-label">Last name</label>
            <div class="controls"><input type="text" id="inputLastName" placeholder="Last name" ng-model="inputLastName"></div>
        </div>
        
        <button class="btn-info btn offset2" type="submit" ng-click="register()">Register</button>
            

    </form>
</div>
